
.hero-unit
  %h1 Anifier
  %h3 Get your favorite anime releases instantly in one place.
  %p Have some patience. We working hard right now.
  .row
    = render 'shared/unauth_dash' unless user_signed_in?
