%footer
  .navbar.navbar-fixed-bottom
    .navbar-inner
      .container
        .row
          .span2.copyright
            &copy;
            = link_to 'Anifier', root_path
            2012
          .span10
            %ul.nav.pull-left
