%footer
  .navbar.navbar-fixed-bottom
    .navbar-inner
      .container
        .row
          .span2.copyright
            &copy;
            = link_to t('project_title'), root_path
            2012
          .span10
            %ul.nav.pull-right
              %li
                = link_to 'Help us on Github', 'https://github.com/pantsu/anifier'
