.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Anifier', root_path, class: 'brand'
      .pull-right
        %button.btn.btn-info{ data: { toggle: 'modal', target: '#sign-in-modal' }} Sign up/in
