%h2= params[:q] ? t('search_results') : t('brand_new')
= form_tag subscriptions_path, method: :post, class: "dashboard-unit-inner" do
  %ul.unstyled.sub-unsub
    - releases.each do |r|
      %li
        %button.btn.btn-success.btn-mini.fade{ data: { action: 'Subscribe', instance_id: r.id, 'original-title' => 'Subscribe'}}
          %i.icon-plus
        &nbsp;
        = r.decorate.full_title

    = submit_tag "Subscribe", class: "btn btn-inverse dashboard-submit"
