%h2= t('brand_new')
.dashboard-unit-inner
  %ul.unstyled.sub-unsub
    - releases.each do |r|
      %li
        = r.decorate.full_title
        &nbsp;
        %button.btn.btn-inverse.btn-mini.fade Subscribe
