%h2= params[:q] ? t('search_results') : t('brand_new')
.dashboard-unit-inner
  %ul.unstyled.sub-unsub
    - releases.each do |r|
      %li
        = r.decorate.full_title
        &nbsp;
        %button.btn.btn-success.btn-mini.fade{ data: { action: 'subscribe', title_id: r.title.id, releaser_id: r.releaser.id, url: subscriptions_path, 'original-title' => t('subscribe')}}
          %i.icon-plus

