%h2= t('watched')
- if current_user.subscriptions.empty?
  .alert.alert-info
    .alert-title= t('no_subscriptions')
    %p=t('subscribe_latest', releasers: link_to('releasers', releasers_path, class: 'badge badge-inverse'), titles: (link_to 'titles', titles_path, class: 'badge badge-inverse')).html_safe
- else
  .dashboard-unit-inner
    %ul#subscriptions.unstyled.sub-unsub
      - subscriptions.each do |s|
        %li
          %button.btn.btn-danger.btn-mini.fade{ data: { action: 'Unsubscribe', instance_id: s.id, instance_class: s.class, 'original-title' => t('unsubscribe')}}
            %i.icon-minus
          &nbsp;
          %span.text-success= s.decorate.full_title
