.dashboard
  = paginate @releasers, per_page: 2

  .row
    .dashboard-unit.span8.offset2
      %ul.nav.nav-pills.nav-stacked.dashboard-unit-inner
        - @releasers.each do |r|
          %li= link_to(r.name, edit_admin_releaser_path(r))